.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bad Script', cursive;
}

.curly-font {
  font-family: 'Covered By Your Grace', cursive;
}

.font-large {
  font-size: 3em;
}

.font-med {
  font-size: 1.5em;
}