/* Header general */
.header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color:#002447;
    color: #fbeceb;
    padding: 30px 50px;
    font-family: 'Bad Script', cursive;

}

.header h1 {
    margin-bottom: 0;
}

.header-letter-color {
    color: #feb249;
}

.header-button {
    background-color: inherit;
    color: #feb249;
    border: 0.5px solid#feb249;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 15px 0;
    /* width: 150px; */
    height: 55px;
    font-family: Bad Script;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 85%;
    margin-left: auto;
}

.header-left p {
    font-family: roboto;
    text-align: end;
    margin-bottom: 5px;
    line-height: 2em;
}

.header-left h1 {
    display: inline;
}

.header-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.header-icons i {
    font-size: 3em;
    margin: 15px;
    color: orange;
}

@media (max-width: 850px){
    .header-image {
        width: 250px;
        height: 250px;
    }
    .header-right {
        align-items: flex-end;
    }
}

@media (max-width: 710px){
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-left, .header-right {
        align-items: center;
        margin: 0;
    }
}