.project-card-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.project-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-large-light {
    background-color: inherit;
    border: 0.5px solid #002447;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 15px 5px;
    height: 55px;
    font-family: Bad Script;
    cursor: pointer;
}

.button-small {
    background-color: inherit;
    border: 0.5px solid #002447;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 15px 5px;
    height: 25px;
    font-family: Bad Script;
    cursor: pointer;
}

.btn {
    transition: ease-in 0.4s;
}

.btn:hover {
    transition: 0.4s;
    background-color: #002447;
    border: 0.5px solid #002447;
    color: #fbeceb;
    font-weight: normal;
}

.project-card-display-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
}

.project-card-display a {
cursor: pointer;
}

.project-card-display p {
    padding: 0 50px;
}

.project-card-display img {
    width: 100%;
    height: auto;
}

.project-card-display h1 {
    margin-top: 0;
}


@media (max-width: 950px){
    .project-card-container {
        display: flex;
        flex-direction: column;
    }
    .project-card-title {
        flex-direction: row;
        justify-content: center;
        font-size: small;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}